.main-container {
    border: 4px solid rgba(0, 0, 0, 1);
    margin-bottom: 24px;
    padding: 16px;
    text-align: center;
    >img {
        height: 20px;
        margin: 34px 0 26px;
    }
}

.name {
    font-family: 'Syne', sans-serif;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 8px;
}

.function {
    font-family: 'Overpass-Mono', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 24px;
}

.quote {
    font-weight: 400;
    font-size: 18px;
}