@use './../../../shared/breakpoints.scss' as bp;

.bg-diagonal {
    height: 55px;
    // margin: 0 -18px;
    background: linear-gradient(to bottom left, rgba(255, 252, 243, 0) 49%, rgba(0, 0, 0, 1) 51%);    
    // @include bp.sm {
    //     margin: 0 -32px;
    // }
    // @include bp.lg {
    //     margin: 0 -56px;
    // }
    // @include bp.xxl {
    //     // margin: 0 -112px;
    //     margin: 0;
    // }    
}

.main-container {
    background-color: rgba(0, 0, 0, 1);
    // margin: -1px -18px 0 -18px;
    color: rgba(255, 252, 243, 1);
    // padding: 0 25px 46px 25px;
    padding-bottom: 46px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include bp.sm {
        // margin: -1px -32px 0 -32px;
        // padding: 0 50px 46px 50px;
    }
    @include bp.md {
        // padding: 0 100px 46px 100px;
    }
    @include bp.lg {
        // margin: -1px -56px 0 -56px;
        padding: 0 56px 46px 56px;
    }
    @include bp.xxl {
        padding: 0 112px 46px 112px;
        // margin: -1px -112px 0 -112px;
        // margin: -1px auto 0 auto;
        // padding: 0 auto 46px auto;
    } 
}

.head-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 0 18px;
    width: 100%;
    @include bp.sm {
        // padding: 0 32px;
    }
    @include bp.lg {
        // padding: 0 56px;
    }
    @include bp.xxl {
        // padding: 0 112px;
        // margin: 0 auto;
        max-width: calc(1440px - 224px);
    }
}

h2 {
    font-size: 45px;
    hyphens: none;
    margin-bottom: 39px;
    animation: color 3s infinite;
    @include bp.xs-max {
        font-size: 40px;
    }
    @include bp.lg {
        font-size: 56px;
        align-self: flex-start;
    }
}

.question, .text {
    text-align: center;
    width: 280px;
    hyphens: none;
    @include bp.sm {
        width: 350px;
    }
    @include bp.md {
        width: 400px;
    }
    @include bp.lg {
        width: 600px;
    }
}

.question {
    color: rgba(0, 188, 143, 1);
    font-weight: 700;
    font-size: 32px;    
    margin-bottom: 19px;
}

.text {
    margin-bottom: 43px;
}

.bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    width: 100%;
    @include bp.lg {
        flex-direction: row-reverse;
        align-items: flex-end;
        justify-content: space-between;
    }
    @include bp.xxl {
        max-width: calc(1440px - 224px);
    }
}

.contact-images {
    display: flex;
    gap: 47px;
    >a >img {
        width: 30px;
    }
    >a:active {
        transform: translateY(-10px);    
    }
}

.logo-copyright-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    @include bp.lg {
        align-items: flex-start;
        gap: 8px;
    }
}

.logo {
    filter: invert(100%);
    height: 30px;
}

.copyright {
    font-weight: 300;
    font-size: 19px;
}

.link-legal-notice-container {
    display: flex;
    justify-content: center;
    width: 100%;
    @include bp.lg {
        justify-content: flex-end;
    }
    @include bp.xxl {
        max-width: calc(1440px - 224px);
    }
}

.link-legal-notice {
    margin-top: 28px;
    font-size: 16px;
    position: relative;
    @include bp.lg {
        margin-top: 8px;
        align-self: flex-end;
    }
    >a:before {
        content: "";
        position: absolute;
        left: 20px;
        bottom: -2px;
        width: 0;
        border-bottom: 2px solid rgba(0, 188, 143, 1);
        transition: width 0.75s ease-in-out;
    }
    >a:active:before {
        width: 75px;
    }
    >a:active {
        font-weight: 800;
    }
}

a {
    color: rgba(255, 252, 243, 1);
}

@keyframes color {
    0% { color: rgba(255, 252, 243, 1); }
    50% { color: rgba(255, 252, 243, 1); }
    51% { color: rgba(0, 188, 143, 1); }
    100% { color: rgba(0, 188, 143, 1); }
}
