<div class="navbar-container">
    <nav>
        <div class="about-container"> <!-- href="./#about" -->
            <!-- <a routerLink="" fragment="about" routerLinkActive="active" (click)="this.generalService.showNavBtnOpen()"> -->
            <a href="#about" (click)="this.generalService.showNavBtnOpen()">
                @if (this.generalService.currentLanguage == 'de') {
                    Über mich
                }
                @if (this.generalService.currentLanguage == 'en') {
                    About me
                }
            </a>
        </div>
        <div class="skills-container">
            <a href="#skills" (click)="this.generalService.showNavBtnOpen()">
                @if (this.generalService.currentLanguage == 'de') {
                    Meine Skills
                }
                @if (this.generalService.currentLanguage == 'en') {
                    My skills
                }
                </a>
        </div>
        <div class="portfolio-container">
            <a href="#portfolio" (click)="this.generalService.showNavBtnOpen()">Portfolio</a>
        </div>
    </nav>
</div>
