<div class="main-container">
    
    <div class="navbar-container">

        <nav>
            <div>
                <a class="nav-link" routerLink="" routerLinkActive="active" (click)="this.generalService.changeNavBtn(); this.generalService.handleScrolling(); this.generalService.setCurrentSection('aboutMe')">{{ 'app.navbar.about' | translate }}</a>
            </div>
            <div>
                <a class="nav-link" routerLink="" routerLinkActive="active" (click)="this.generalService.changeNavBtn(); this.generalService.handleScrolling(); this.generalService.setCurrentSection('mySkills')">{{ 'app.navbar.skills' | translate }}</a>
            </div>
            <div>
                <a class="nav-link" routerLink="" routerLinkActive="active" (click)="this.generalService.changeNavBtn(); this.generalService.handleScrolling(); this.generalService.setCurrentSection('portfolio')">Portfolio</a>
            </div>
        </nav>

        <div class="bottom-container">

            <div class="bg-diagonal"></div>

            <div class="contact-container">

                <div class="contact-content">

                    <div class="contact-text">
                        <h2>{{ 'app.navbar.contact' | translate }}</h2>
                        <div class="mail-container">contact&#64;anita-gasteiner.at</div>
                    </div>

                    <div class="contact-images">
                        <a href="https://github.com/anitagasteiner" target="_blank"><img src="./../../../assets/img/github.svg"></a>
                        <a href="mailto:contact@anita-gasteiner.at"><img src="./../../../assets/img/email.svg"></a>
                        <a href="https://www.linkedin.com/in/anita-gasteiner" target="_blank"><img src="./../../../assets/img/linkedin.svg"></a>
                    </div>

                </div>
                
            </div>

        </div>        

    </div>

</div>