<div class="main-container">
    
    <div class="navbar-container">

        <nav>
            <div>
                <!-- <a class="nav-link" href="#about" (click)="this.generalService.showNavBtnOpen()"> -->
                <a class="nav-link" routerLink="" routerLinkActive="active" (click)="this.generalService.changeNavBtn(); this.generalService.handleScrolling(); this.generalService.setCurrentSection('aboutMe')">
                    @if (this.generalService.currentLanguage == 'de') {
                        Über mich
                    }
                    @if (this.generalService.currentLanguage == 'en') {
                        About me
                    }
                </a>
            </div>
            <div>
                <a class="nav-link" routerLink="" routerLinkActive="active" (click)="this.generalService.changeNavBtn(); this.generalService.handleScrolling(); this.generalService.setCurrentSection('mySkills')">
                    @if (this.generalService.currentLanguage == 'de') {
                        Meine Skills
                    }
                    @if (this.generalService.currentLanguage == 'en') {
                        My skills
                    }
                    </a>
            </div>
            <div>
                <a class="nav-link" routerLink="" routerLinkActive="active" (click)="this.generalService.changeNavBtn(); this.generalService.handleScrolling(); this.generalService.setCurrentSection('portfolio')">Portfolio</a>
            </div>
        </nav>

        <div class="bottom-container">

            <div class="bg-diagonal"></div>

            <div class="contact-container">

                <div class="contact-content">

                    <div class="contact-text">
                        <h2>
                            @if (this.generalService.currentLanguage == 'de') {
                                Kontakt
                            }
                            @if (this.generalService.currentLanguage == 'en') {
                                Say hi!
                            }
                        </h2>
                        <div class="mail-container">contact&#64;anita-gasteiner.at</div>
                    </div>

                    <div class="contact-images">
                        <a href="https://github.com/anitagasteiner" target="_blank"><img src="./../../../assets/img/github.svg"></a>
                        <a href="mailto:contact@anita-gasteiner.at"><img src="./../../../assets/img/email.svg"></a>
                        <a href="https://www.linkedin.com/in/anita-gasteiner" target="_blank"><img src="./../../../assets/img/linkedin.svg"></a>
                    </div>

                </div>
                
            </div>

        </div>        

    </div>

</div>