<div #aboutMe class="main-container main-width" id="about">

    <h2>{{ 'app.about.title' | translate }}</h2>

    <div class="content-container">

        <div class="text-container">
            <p [innerHTML]="'app.about.para-1' | translate"></p> <!-- Dabei achte ich sehr auf Usability und Accessibility. // I pay close attention to usability and accessibility. -->
            <p [innerHTML]="'app.about.para-2' | translate"></p>
            <div>
                <div>
                    <img src="./../../../assets/img/house.svg">
                    <span>{{ 'app.about.base' | translate }}</span>
                </div>
                <div>
                    <img src="./../../../assets/img/laptop.svg">
                    <span>{{ 'app.about.remote' | translate }}</span>
                </div>
            </div>
            <a href="#contact">
                <div class="btn-contact">{{ 'app.about.btn-text' | translate }}</div>
            </a>
        </div>
    
        <div class="image-container">
            <img src="./../../../assets/img/anita-gasteiner.jpg">
        </div>

    </div>    

</div>