<div class="main-container main-width">
    <div class="head-container">
        <h1>Frontend<br>Developer</h1>
        <div class="name-container">
            <div class="line"></div>
            <div class="name">Anita Gasteiner</div>
        </div>
    </div>
    <div class="bottom-container">
        <div class="mail">anita.gasteiner&#64;posteo.de</div>
        <div class="scroll-container">
            <div class="arrow-container">
                <img src="../../assets/img/arrow.svg">
            </div>            
            <div class="scroll-info">Scroll<br>Down</div>
        </div>    
    </div>
</div>