@use './../shared/breakpoints.scss' as bp;

.main-container {
    margin-top: 92px;
    font-size: 18px;
}

.head-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-between;
    @include bp.sm {
        flex-direction: row;
        align-items: center;
    }
    >a {
        align-self: flex-end;
        @include bp.sm {
            align-self: unset;
        }
        >img {
            height: 16px;
            padding: 10px;
        }
    }
}

h3 {
    font-family: 'Overpass', sans-serif;
    font-size: 24px;
    margin-top: 0;
    @include bp.sm {
        margin-top: 28px;
        font-size: 28px;
    }
}

h4 {
    margin-bottom: 8px;
}

.source {
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: 16px;
}

a {
    color: rgba(0, 0, 0, 1);
    &:hover {
        color: rgba(0, 188, 143, 1);
    }
}