<div class="main-container main-width">
    
    <div class="head-container">
        <h3>
            @if (this.generalService.currentLanguage == 'de') {
                Datenschutzerklärung
            }
            @if (this.generalService.currentLanguage == 'en') {
                Privacy Policy
            }
        </h3>
        <a routerLink="" routerLinkActive="active"><img src="./../../assets/img/btn-close.svg"></a>
    </div>

    @if (this.generalService.currentLanguage == 'de') {
        <p>In folgender Datenschutzerklärung informiere ich Sie über die wichtigsten Aspekte der Datenverarbeitung im Rahmen meiner Webseite. Ich erhebe und verarbeite personenbezogene Daten nur auf Grundlage der gesetzlichen Bestimmungen (Datenschutzgrundverordnung, Telekommunikationsgesetz 2003).</p>
        <p>Sobald Sie als Benutzer*in auf meine Webseite zugreifen oder diese besuchen, wird Ihre IP-Adresse, Beginn sowie Beginn und Ende der Sitzung erfasst. Dies ist technisch bedingt und stellt somit ein berechtigtes Interesse iSv Art&nbsp;6 Abs&nbsp;1 lit&nbsp;f DSGVO dar.</p>
    
        <h4>Kontakt</h4>
    
        <p>Wenn Sie mich entweder über mein Kontaktformular auf meiner Webseite oder per E-Mail kontaktieren, dann werden die von Ihnen an mich übermittelten Daten zwecks Bearbeitung Ihrer Anfrage oder für den Fall von weiteren Anschlussfragen für sechs Monate bei mir gespeichert. Es erfolgt ohne Ihre Einwilligung keine Weitergabe Ihrer übermittelten Daten.</p>
    
        <h4>Cookies</h4>
    
        <p>Meine Webseite kommt gänzlich ohne Cookies aus.</p>
        <!-- <p>Meine Webseite verwendet sogenannte Cookies. Dabei handelt es sich um kleine Textdateien, die mithilfe des Browsers auf Ihrem Endgerät abgelegt werden. Sie richten keinen Schaden an. Ich nutze Cookies dazu, mein Angebot nutzungsfreundlich zu gestalten. Einige Cookies bleiben auf Ihrem Endgerät gespeichert, bis Sie diese löschen. Sie ermöglichen es mir, Ihren Browser beim nächsten Besuch wiederzuerkennen. Wenn Sie dies nicht wünschen, so können Sie Ihren Browser so einrichten, dass er Sie über das Setzen von Cookies informiert und Sie dies nur im Einzelfall erlauben. Bei der Deaktivierung von Cookies kann die Funktionalität meiner Webseite eingeschränkt sein.</p> -->
    
        <h4>Google Fonts</h4>

        <p>Die auf meiner Webseite von &#8222;Google Fonts&#8220; verwendeten Schriftarten sind lokal eingebunden. Beim Aufrufen dieser Webseite lädt Ihr Browser diese Schriftarten daher nicht von einem Server von Google und Google setzt keine Cookies auf Ihrem Rechner. Ihre Daten werden nicht von Google verarbeitet oder analysiert.</p>
        <!-- <p>Meine Webseite verwendet Schriftarten von &#8222;Google Fonts&#8220;. Der Dienstanbieter dieser Funktion ist:
            <br>Google Ireland Limited Gordon House, Barrow Street Dublin&nbsp;4. Ireland
            <br>Tel:&nbsp;+353&nbsp;1&nbsp;543&nbsp;1000
        </p>
        <p>Beim Aufrufen dieser Webseite lädt Ihr Browser Schriftarten und speichert diese in den Cache. Da Sie als Besucher*in der Webseite Daten des Dienstanbieters empfangen, kann Google unter Umständen Cookies auf Ihrem Rechner setzen oder analysieren.</p> -->
        <!-- <p>Die Nutzung von &#8222;Google Fonts&#8220; dient der Optimierung unserer Dienstleistung und der einheitlichen Darstellung von Inhalten. Dies stellt ein berechtigtes Interesse im Sinne von Art&nbsp;6 Abs&nbsp;1 lit&nbsp;f DSGVO dar.</p> -->
        <!-- <p>Weitere Informationen zu Google Fonts erhalten Sie unter folgendem Link: <a href="https://developers.google.com/fonts/faq" target="_blank">https://developers.google.com/fonts/faq</a></p>
        <p>Weitere Informationen über den Umgang mit Nutzerdaten von Google können Sie der folgenden Datenschutzerklärung entnehmen: <a href="https://policies.google.com/privacy?hl=de" target="_blank"> https://policies.google.com/privacy?hl=de</a></p> -->
        <!-- <p> Google verarbeitet die Daten auch in den USA, hat sich jedoch dem EU-US Privacy-Shield unterworfen: <a href="https://www.privacyshield.gov/EU-US-Framework" target="_blank">https://www.privacyshield.gov/EU-US-Framework</a></p> -->
    
        <h4>Server Log Files</h4>
    
        <p>Diese Webseite und der damit verbundene Provider erheben im Zuge der Webseitennutzung automatisch Informationen im Rahmen sogenannter &#8222;Server Log Files&#8220;. Dies betrifft insbesondere:</p>
        <ul>
            <li>IP-Adresse oder Hostname,</li>
            <li>den verwendeten Browser,</li>
            <li>Aufenthaltsdauer auf der Webseite sowie Datum und Uhrzeit,</li>
            <li>aufgerufene Seiten der Webseite,</li>
            <li>Spracheinstellungen und Betriebssystem,</li>
            <li>&#8222;Leaving Page&#8220; (auf welcher URL Sie die Webseite verlassen haben),</li>
            <li>ISP (Internet Service Provider).</li>
        </ul>
        <p>Diese erhobenen Informationen werden nicht personenbezogen verarbeitet oder mit personenbezogenen Daten in Verbindung gebracht.</p>
        <p>Die Webseitenbetreiberin behält es sich vor, im Falle von Bekanntwerden rechtswidriger Tätigkeiten diese Daten auszuwerten oder zu überprüfen.</p>
    
        <h4>Ihre Rechte als Betroffene*r</h4>
    
        <p>Sie als Betroffene*r haben bezüglich Ihrer bei mir gespeicherten Daten grundsätzlich ein Recht auf:</p>
        <ul>
            <li>Auskunft,</li>
            <li>Löschung der Daten,</li>
            <li>Berichtigung der Daten,</li>
            <li>Übertragbarkeit der Daten,</li>
            <li>Widerruf und Widerspruch zur Datenverarbeitung,</li>
            <li>Einschränkung.</li>
        </ul>
        <p>Wenn Sie vermuten, dass im Zuge der Verarbeitung Ihrer Daten Verstöße gegen das Datenschutzrecht passiert sind, so haben Sie die Möglichkeit sich bei mir oder der Datenschutzbehörde zu beschweren.</p>
    
        <h4>Sie erreichen mich unter folgenden Kontaktdaten:</h4>
    
        <p>
            <b>Webseitenbetreiberin:</b> Anita Gasteiner
            <br><b>E-Mail:</b> contact&#64;anita-gasteiner.at
        </p>
    }
    @if (this.generalService.currentLanguage == 'en') {
        <p>In this privacy policy, I inform you about the most important aspects of data processing on my website. I collect and process personal data only based on the legal provisions (Datenschutzgrundverordnung, Telekommunikationsgesetz 2003).</p>
        <p>As soon as you, as a user, access or visit my website, your IP address, the start and end times of the session, as well as the duration of your visit, will be recorded. This is technically necessary and thus constitutes a legitimate interest according to Art&nbsp;6 Abs&nbsp;1 lit&nbsp;f DSGVO.</p>
    
        <h4>Contact</h4>
    
        <p>If you contact me either through the contact form on my website or by email, the data you transmit to me will be stored for six months to process your request or in case of further follow-up questions. Your transmitted data will not be passed on without your consent.</p>
    
        <h4>Cookies</h4>
    
        <p>My website does not use cookies.</p>
    
        <h4>Google Fonts</h4>

        <p>The fonts used on my website from &#8222;Google Fonts&#8220; are locally embedded. When you visit this website, your browser does not load these fonts from a Google server, and Google does not set cookies on your device. Your data is not processed or analyzed by Google.</p>
    
        <h4>Server Log Files</h4>
    
        <p>This website and the associated provider automatically collect information as part of the so-called &#8222;server log files&#8220; during website use. This includes:</p>
        <ul>
            <li>IP address or hostname,</li>
            <li>the browser used,</li>
            <li>duration of stay on the website, as well as date and time,</li>
            <li>visited pages on the website,</li>
            <li>language settings and operating system,</li>
            <li>&#8222;Leaving Page&#8220; (the URL from which you exited the website),</li>
            <li>ISP (Internet Service Provider).</li>
        </ul>
        <p>These collected data are not processed in a personally identifiable manner or linked to personal data.</p>
        <p>The website operator reserves the right to analyze or verify this data if illegal activities are detected.</p>
    
        <h4>Your Rights as a Data Subject</h4>
    
        <p>As a data subject, you have the following rights regarding your stored data:</p>
        <ul>
            <li>right to access,</li>
            <li>right to deletion,</li>
            <li>right to correction,</li>
            <li>right to data portability,</li>
            <li>right to withdraw consent and object to data processing,</li>
            <li>right to restriction.</li>
        </ul>
        <p>If you suspect that there have been violations of data protection law during the processing of your data, you have the option to file a complaint with me or with the data protection authority.</p>
    
        <h4>You can reach me at the following contact details:</h4>
    
        <p>
            <b>Website Operator:</b> Anita Gasteiner
            <br><b>Email:</b> contact&#64;anita-gasteiner.at
        </p>
    }
    
    <p class="source"><b>
        @if (this.generalService.currentLanguage == 'de') {
            Quelle:
        }
        @if (this.generalService.currentLanguage == 'en') {
            Source:
        }        
        </b><a href="https://www.fairesrecht.at/kostenlos-datenschutzerklaerung-erstellen-generator.php" target="_blank">Datenschutzgenerator Österreich DSGVO</a>
    </p>

</div>