<form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">

    <fieldset>        

        <input class="name-mail-input" #name="ngModel" minlength="2" [(ngModel)]="contactData.name" type="text" name="name" id="name" placeholder="{{this.generalService.nameText}}" onfocus="this.placeholder=''" required>

        <legend>
            @if (this.generalService.currentLanguage == 'de') {
                Ihr Name
            }
            @if (this.generalService.currentLanguage == 'en') {
                Your name
            }
        </legend>

        @if (!name.valid && name.touched && !name.disabled) {
            <span class="notification">
                @if (this.generalService.currentLanguage == 'de') {
                    Bitte geben Sie Ihren Namen ein.
                }
                @if (this.generalService.currentLanguage == 'en') {
                    Please enter your name.
                }
            </span>
            <img class="notification-img" src="./../../../../../assets/img/message-error.svg">
        }
        @if (name.valid) {
            <img class="notification-img" src="./../../../../../assets/img/message-ok.svg">
        }

    </fieldset>

    <fieldset>

        <input class="name-mail-input" #email="ngModel" [(ngModel)]="contactData.email" type="email" name="email" id="email" placeholder="{{this.generalService.mailText}}" onfocus="this.placeholder=''" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">

        <legend>
            @if (this.generalService.currentLanguage == 'de') {
                Ihre E-Mail-Adresse
            }
            @if (this.generalService.currentLanguage == 'en') {
                Your email
            }
        </legend>

        @if (!email.valid && email.touched && !email.disabled) {
            <span class="notification">
                @if (this.generalService.currentLanguage == 'de') {
                    Bitte geben Sie Ihre E-Mail-Adresse ein.
                }
                @if (this.generalService.currentLanguage == 'en') {
                    Please enter your email.
                }
            </span>
            <img class="notification-img" src="./../../../../../assets/img/message-error.svg">
        }
        @if (email.valid) {
            <img class="notification-img" src="./../../../../../assets/img/message-ok.svg">
        }

    </fieldset>

    <fieldset>

        <textarea #message="ngModel" minlength="20" [(ngModel)]="contactData.message" name="message" id="message" placeholder="{{this.generalService.messageText}}" onfocus="this.placeholder=''" required></textarea>

        <legend>
            @if (this.generalService.currentLanguage == 'de') {
                Ihre Nachricht
            }
            @if (this.generalService.currentLanguage == 'en') {
                Your message
            }                
        </legend>

        @if (!message.valid && message.touched && !message.disabled) {
            <span class="notification">
                @if (this.generalService.currentLanguage == 'de') {
                    Bitte geben Sie eine Nachricht ein.
                }
                @if (this.generalService.currentLanguage == 'en') {
                    Please enter a message.
                }
            </span>
            <img class="notification-img-message" src="./../../../../../assets/img/message-error.svg">
        }
        @if (message.valid) {
            <img class="notification-img-message" src="./../../../../../assets/img/message-ok.svg">
        }

    </fieldset>

    <div class="privacy-container">

        <div class="privacy-check-container">

            <input #privacy="ngModel" [(ngModel)]="contactData.checkbox" type="checkbox" id="privacy" name="privacy" required>

            <label for="privacy">
                @if (this.generalService.currentLanguage == 'de') {
                    Die
                    <div class="privacy-policy-german">
                        <a routerLink="privacy-policy" routerLinkActive="active" (click)="this.generalService.showNavBtnOpen(); this.generalService.closeNavbar()">Datenschutzerklärung</a>
                    </div>
                    habe ich ge&zwj;le&zwj;sen und ich bin mit der dementsprechenden Verarbeitung meiner Daten einverstanden.
                }
                @if (this.generalService.currentLanguage == 'en') {
                    I've read the
                    <div>
                        <a routerLink="privacy-policy" routerLinkActive="active" (click)="this.generalService.showNavBtnOpen(); this.generalService.closeNavbar()">privacy policy</a>
                    </div>
                    and agree to the processing of my data as outlined.
                }
            </label>

        </div>

        @if (!privacy.valid && privacy.touched && !privacy.disabled) {
            <span class="notification privacy-notification">
                @if (this.generalService.currentLanguage == 'de') {
                    Bitte lesen Sie die DS-Erklärung.
                }
                @if (this.generalService.currentLanguage == 'en') {
                    Please accept the privacy policy.
                }
            </span>
        }

    </div>

    <div class="send-container">
        @if (!name.valid || !email.valid || !message.valid || !privacy.valid) {
            <input class="btn-send-invalid" type="submit" value="{{this.generalService.btnText}}">
        }
        @if (name.valid && email.valid && message.valid && privacy.valid) {
            <input class="btn-send" type="submit" value="{{this.generalService.btnText}}">
        }
        @if (mailSent) {
            <div class="sent-notification">
                @if (this.generalService.currentLanguage == 'de') {
                    Vielen Dank für Ihre Nachricht.
                }
                @if (this.generalService.currentLanguage == 'en') {
                    Thank you for your message.
                }
            </div>
        }
    </div>

</form>