@use './../../shared/breakpoints.scss' as bp;

.arrow-container {
    height: 260px;
    margin-top: 32px;
    // margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include bp.lg {
        height: 310px;
    }
    >div {
        width: 55%;
        height: inherit;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        @include bp.xs-max {
            width: 80%
        }
        @include bp.sm {
            width: 50%;
        }
        @include bp.md {
            width: 80%;
        }
        >div {
            height: 112px;
            width: 112px;
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            transition: translate 1s ease-in-out;
            @include bp.lg {
                height: 142px;
                width: 142px;
            }
            >img {
                margin: -28px;
                height: 167px;
                object-fit: contain;
                @include bp.lg {
                    margin: -36px;
                    height: 215px;
                }
            }
        }
    } 
}

.move {
    translate: -70px 156px;
    @include bp.xs-max {
        translate: -90px 156px;
    }
    @include bp.sm {
        translate: -130px 156px;
    }
    @include bp.md {
        translate: -250px 156px;
    }
    @include bp.lg {
        translate: -280px 182px;
    }
    @include bp.xl {
        translate: -320px 200px;
    }
}
