@use './../../shared/breakpoints.scss' as bp;

.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
    @include bp.xl {
        padding-top: 28px;
        gap: 132px;
    }
}
