<div class="project-container project-{{project.position}}">
    <p class="project-date">{{project.date}}</p>
    <a href="{{project.webLink}}" target="_blank">
        <div class="project-img-container project-img-container-{{project.orientation}}">
            <img class="project-arrow-round" src="./../../../../assets/img/arrow-round.svg" id="project-{{project.id}}-arrow">
            <img class="project-img-{{project.orientation}}" src="./../../../../assets/img/{{currentImg}}" id="project-{{project.id}}-image">
            <div class="project-border-{{project.orientation}}" id="project-{{project.id}}-border"></div>        
        </div>
    </a>
    <div class="project-details-container">
        <div class="project-details project-{{project.position}} absolute-{{project.position}}" id="project-{{project.id}}">
            <h3>{{project.title}}</h3>
            <p class="project-skills">{{project.skills}}</p>
            <p>
                @if (this.generalService.currentLanguage == 'de') {
                    {{project.descriptionGerman}}
                }
                @if (this.generalService.currentLanguage == 'en') {
                    {{project.description}}
                }                
            </p>
            <a class="project-link" target="_blank" href="{{project.gitLink}}">Github</a>
        </div>
    </div>    
</div>